<form id='text-input-form' class='form-rest'>
  <p>If you are using assets, paste the link here : </p>
  <p>(ex : modules/fbl-servants-of-memory-npc-parser/assets) </p>
  <label class='text'>
    <textarea id='url-input' rows='1' cols='100'></textarea>
  </label>
  <p>Copy from "Table Of Contents" P.2 to P.191</p>
  <label class='text'>
    <textarea id='text-input' rows='10' cols='100'></textarea>
  </label>
</form>