<form id='text-input-form' class='form-rest'>
  <p>Copy from "Table Of Contents" P.2 to P.191</p>
  <label class='text'>
    <textarea id='text-input' rows='10' cols='100'></textarea>
  </label>
</form>